$BlackShadow-020: #00000033;
$BrownBorder: #535353;
$ButtonBackground-050: #f5f5f580;
$ButtonBackground-010: #0000001a;
$ButtonText-070: #000000b3;
$ButtonBackground-hover: #dfdbdb;
$AllmostWhite: #f5f5f5;
$LavenderWeb-hover: #dee2ff;

.smallCard {
  display: block;
  height: 100%;
  background-color: $AllmostWhite;
  padding: 20px;
  border-radius: 4px;
  border: 1px solid $BrownBorder;
  overflow: hidden;
  box-shadow: 0 10px 10px 0 $BlackShadow-020;
  margin-bottom: 20px;
}

.smallCard:hover {
  box-shadow: 0px 8px 10px 0px $BlackShadow-020;
  background-color: $LavenderWeb-hover;
  opacity: 1;
  transform: translate(1px, 1px);
}

.imageWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100%;
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 20px;
}

.image {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.loading {
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
}

.text {
  position: relative;
  // height: 100%;
  // bottom:20px;
}

.title {
  text-align: justify;
  margin-bottom: 10px;
  padding-right: 20px;
}

.body {
  text-align: justify;
  margin-bottom: 8px;

}


.buttonReadMore {
  display: block;
  background: none;
  border: none;
  cursor: pointer;
  margin-bottom: 8px;
  margin-right: 12px;
  padding: 2px 10px;
  font-style: italic;
}

.buttonReadMore:focus {
  background-color: $ButtonBackground-010;
}

.buttonText {
  font-size: 12px;
  color: $ButtonText-070;
}

.buttonText:hover {
  color: black;
}
