$BlackShadow-020: #00000033;
$BrownBorder: #535353;
$ButtonBackground-050: #f5f5f580;
$ButtonBackground-010: #0000001a;
$ButtonText-070: #000000b3;
$ButtonBackground-hover: #dfdbdb;
$AllmostWhite: #f5f5f5;
$LavenderWeb-hover: #dee2ff;

.logoWrapper {
  display: block;
  align-items: center;
  background-color: transparent;
  border: transparent;
  cursor: pointer;
  outline-style: none;
  transition: transform 0.3s ease-out;
  margin: 0 auto;

  &:hover {
    transform: translate(0px, 2px);
  }
}
