$BlackShadow-020: #00000033; //black searchWrap shadow, opacity 0.20
$BrownBorder: #535353; // dark-brown 
$AllmostWhite: #f5f5f5; // search background-color
$BackGround-050: rgba(245, 245, 245, 0.5);

.button {
    height: 30px;
    // width: 100%;
    background-color: rgba(245, 245, 245, 0.5);
    border-radius: 6px;
    border: 1px solid $BrownBorder;
    color:$BrownBorder;
    cursor: pointer;
    font-size: 14px;
    justify-content: center;
    padding: 18px;
    margin-bottom: 20px;
}

.button:hover {
    background-color: rgb(223, 219, 219);
    color:black;
}
