$Manatee: #8e9aaffd; // pelēcīgi zila body background-color
$LanguidLavender: #CBC0D3; // gaiši violeta
$PalePink: #EFD3D7; // pelēcīgi rozā card border-color
$PalePurplePantone: #FEEAFA; // gaiši rozā
$LavenderWeb: #DEE2FF; // gaiši zila card background-color

.articleWrapper {
    display: block;
    height: 100%;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 4px;
    border: 1px solid $PalePink;
    overflow: hidden;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
}

.article {
    margin-bottom: 50px;
    padding: 10px;
}

.imageWrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60%;
    width:100%;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom:20px;
}

.image {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.loading {
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
}

.title {
    margin-bottom: 8px;
}

.button {
    height: 30px;
    background-color: rgba(245, 245, 245, 0.534);
    border-radius: 6px;
    border: 1px solid #535353;
    color:#535353;
    cursor: pointer;
    font-size: 14px;
    justify-content: center;
    padding: 8px;
}

.button:hover {
    background-color: rgb(223, 219, 219);
    color:black;
}