.userWrapper {
  display: inline-flex;
}

.avatar {
  padding-left: 10px;
  margin-right: 4px 10px;
}

.welcomeText {
    font-size:18px;
    margin-bottom: 4px;
}

.button {
    background-color: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
    padding: 4px 8px;
    border-radius: 4px;
}

.button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
