@import 'flexboxgrid';

$Manatee: #8e9aaffd; // pelēcīgi zila body background-color
$LanguidLavender: #CBC0D3; // gaiši violeta
$PalePink: #EFD3D7; // pelēcīgi rozā
$PalePurplePantone: #FEEAFA; // gaiši rozā
$LavenderWeb: #DEE2FF; // gaiši zila

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $Manatee;
  margin-top:50px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flex {
  display: flex;
}

.w100 {
  width: 100%;
}

.margin-bottom--8 {
  margin-bottom: 8px;
}

.margin-bottom--12 {
  margin-bottom: 12px;
}

.margin-bottom--16 {
  margin-bottom: 16px;
}

.margin-bottom--24 {
  margin-bottom: 24px;
}

.margin-bottom--50 {
  margin-bottom: 50px;
}