.heading1 {
  margin: 0;
  line-height: 1.2;
  margin-bottom: 15px;
}

.heading2 {
  margin: 0;
  line-height: 1.3;
  line-height: 15px;
}

.heading3 {
  margin: 0;
  line-height: 1.5;
  line-height: 10px;
}

.heading4 {
  margin: 0;
  line-height: 1.4;
  line-height: 10px;
}

.paragraph {
  margin: 0;
  line-height: 1.5;
}
