$Manatee: #8e9aaffd;
$BlackShadow-020: #00000033;
$BrownBorder: #535353;
$ButtonBackground-050: #f5f5f580;
$ButtonBackground-010: #0000001a;
$ButtonText-070: #000000b3;
$ButtonBackground-hover: #dfdbdb;
$AllmostWhite: #f5f5f5;
$LavenderWeb-hover: #dee2ff;

.filterButtonWrapper {
  margin: 0 0 20px 0;
  padding: 0;
  // left: 0;
  // position: fixed;
  // width: 100%;
}

.filerButton {
  background-color: transparent;
  border: none;
  padding: 4px 10px;
  border-radius: 0px 10px 0px 10px;
  letter-spacing: 1px;
  transition: transform 0.3s ease;
}

.filerButton:hover {
  background-color: $ButtonBackground-010;
  transform: translate(1px, 1px);
}

.filerButton:focus {
  background-color: $BlackShadow-020;
  outline: none;
}
