.headerWrapper {
  display: flex;
  justify-content: space-around;
}
.nav_link {
  display: flex;
  width: 180px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.65);
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.2);
  color: white;
  font-size: 25px;
  letter-spacing: 1px;
  padding: 4px 10px;
  text-decoration: none;
  justify-content: center;

}
