$BlackShadow-020: #00000033; //black searchWrap shadow, opacity 0.20
$BrownBorder: #535353; // dark-brown 
$AllmostWhite: #f5f5f5; // search background-color
$BackGround-050: rgba(245, 245, 245, 0.5);

.articleWrapper {
    display: block;
    background-color: $AllmostWhite;
    padding: 20px 6px 10px 6px;
    border-radius: 4px;
    border: 1px solid $BrownBorder;
    overflow: hidden;
    box-shadow: 0 10px 10px 0 $BlackShadow-020;
}

.title {
    margin-bottom: 30px;
    text-align: center;
}

.inputField {
    display: flex;
    border: 1px solid $BrownBorder;
    width:100%;
    height: 30px;
    border-radius: 0px 10px 0px 10px;
    overflow: hidden;
    box-shadow: 1px 1px 8px 0 $BlackShadow-020;
    margin-bottom: 6px;
    padding-left: 6px;
}

.textarea {
    display: flex;
    border: 1px solid $BrownBorder;
    width:100%;
    height:100%;
    border-radius: 0px 10px 0px 10px;
    overflow: hidden;
    box-shadow: 1px 1px 8px 0 $BlackShadow-020;
    // margin-bottom: 20px;
    padding: 10px;
}

.scroller { // in html should be
    width: 100%;
    height: 500px;
    overflow-y: scroll;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;
  }


.button {
    height: 30px;
    width: 100%;
    background-color: rgba(245, 245, 245, 0.5);
    border-radius: 6px;
    border: 1px solid $BrownBorder;
    color:$BrownBorder;
    cursor: pointer;
    font-size: 14px;
    justify-content: center;
    padding: 8px;
    margin-top: 20px;
}

.button:hover {
    background-color: rgb(223, 219, 219);
    color:black;
}

