.nav {
    display: inline-flex;
    width:100%;
    text-align: center;

}

.nav_link {
    background-color:black;
    border-radius: 8px;
    color:white;
    font-size: 25px;
    letter-spacing: 1px;
    margin-left: 5px;
    padding: 10px;
    text-decoration: none;
    width:100px;
}

.selected {
    color:green;
}